* {
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
}

body {
    background-color: #d7dbde;
}

.input-group{
    max-width: 850px;
}

#navbar_search {
    max-width: 675px;
}

.movies-well {
    margin-top: 100px !important;
    padding: 35px;
    background-color: #d7dbde;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #a8abad, -13px -13px 20px #ebf1f5;
}

.card-img-top {
    border-radius: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}


.card {
    border-radius: 25px;
}

.series-well {
    margin-top: 100px !important;
    padding: 35px;
    background-color: #d7dbde;
    border-radius: 40px;
    box-shadow:  13px 13px 20px #a8abad,  -13px -13px 20px #ebf1f5;
}


