* {
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
}

body {
    background-color: #d7dbde;
}

nav a, .btn.btn-outline-warning, .nav-link, #info_btn {
    transition: all 0.7s ease-in-out;
}

nav a:hover {
    color: #ffc107 !important;
}

.input-group{
    max-width: 850px;
}

#navbar_search {
    max-width: 675px;
}

.movies-well {
    margin-top: 50px !important;
    padding: 35px;
    background-color: #d7dbde;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #a8abad, -13px -13px 20px #ebf1f5;
}

.card-img-top {
    border-radius: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}

.card {
    border-radius: 25px;
}

.series-well {
    margin-top: 50px !important;
    padding: 35px;
    background-color: #d7dbde;
    border-radius: 40px;
    box-shadow:  13px 13px 20px #a8abad,  -13px -13px 20px #ebf1f5;
}

#bookmarkLogo {
    color: #ffc107;
    cursor: pointer;
}

#heartLogo {
    color: #ffc107;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}
#heartLogo:hover {
    color: rgb(253, 40, 40);
}

.fa-star {
    color: #ffc107;
}

.fa-percentage {
    color: #0ed40e;
}

#info_btn:hover {
   background-color: #212529;
   border: #212529;
   color: #ffc107;
}

.fa-info-circle:hover {
    color: #ffc107;
}

#card-well {
    background-color: #d7dbde;
    border-radius: 40px;
    box-shadow: inset 13px 13px 20px #a8abad, inset -13px -13px 20px #ebf1f5;
}

